[run]
omit =
    */site-packages/*
    */distutils/*
    */tests/*
    manage.py
    signal_block/one/events/intersect.py
    blocks/celery.py
    blocks/event.py
    blocks/router.py
    blocks/settings.py
    data_store/interface.py
